{% extends "base.html" %} {% block title %}About us{% endblock%} {% block
icon%}far fa-home{% endblock%} {% block icon1 %}far fa-calculator{%endblock%} {%
block icon2 %}far fa-user-circle{%endblock%} {% block content %}
<section class="features" data-aos="fade">
  <div class="container">
    <h3>About us</h3>
  </div>

  <div class="container">
    <br />
    <b>Broker | House and Lot Price Prediction (Zamboanga City)</b>
    <br />
    <br />
    <p>
      Having a house and lot property will give you an assurance to have a safe
      place to stay for you and your family. Globally, the number of homeowners
      around the world increases each year. In the Philippines, owning a house
      and lot property is a privilege for every Filipino. Locally, the closer
      the house and lot property is bought near a commercial area, the higher is
      the price rate and if bought far from the commercial area would have a
      lower price rate. This study aims to predict the estimated price of a
      house and lot using Linear Regression algorithm.
    </p>
  </div>
</section>
{% endblock %}
