{% extends "base.html" %} {% block title %} {{ fname.capitalize() + " " +lname.capitalize()}}{% endblock
%} {% block headtype %}header{% endblock%} {% block icon%}far fa-store{%
endblock%} {% block icon1 %}far fa-calculator{%endblock%} {% block icon2 %}fa
fa-user-circle{%endblock%} {% block content %}
<div class="det">
  <section class="test" data-aos="fade" id="profile_test">
    <div class="container">
      {% for user in owner %}
        {%if user.id == account.id %}
      <div class="test-item">
        {% if user.name == 'None' %}
        <img
          src="../static/profile/userbw.png"
          style="width: 144px; height: 144px; border-radius: 50%"
          alt=""
        />
        {% elif user.name %}
        <img
          src="../static/profile/{{user.name}}"
          style="width: 144px;  height: 144px;border-radius: 50%"
          alt=""
        />
        {% else %}
        <img
          src="../static/profile/userbw.png"
          style="width: 144px;  height: 144px;border-radius: 50%"
          alt=""
        />
        {% endif %}
        <h3 style="text-transform: capitalize">{{ user.first_name }} {{ user.last_name }}</h3>
        <h4>Profile</h4>
      </div>
    </div>
    <div class="container">
      <div class="test-item">
        <h4>{{user.contact}}</h4>
      </div>
    </div>
  </section>
  <div class="portfolio">
    <div class="container">
      <div class="profile_my_post" id="head_profile">
        <h5>{{user.first_name}}'s Post ..</h5>
        {%endif%}
      {%endfor%}
      </div>
      {% for post in post %} 
        {% if post.user_id == account.id %}
      <div class="profile_my_post">
        <div class="mypost_owner">
          {% for user in owner %}
            {%if user.id == account.id %}
          <div class="my_post_pic_name">
            <a href="#">
            {% if user.name == 'None' %}
            <img
              src="../static/profile/userbw.png"
              style="
                width: 30px;
                height: 30px;
                margin-right: 8px;
                border-radius: 50%;
              "
              alt=""
            />
            {% elif user.name %}
            <img
              src="../static/profile/{{user.name}}"
              style="
                width: 30px;
                height: 30px;
                margin-right: 8px;
                border-radius: 50%;
              "
              alt=""
            />
            {% else %}
            <img
              src="../static/profile/userbw.png"
              style="
                width: 30px;
                height: 30px;
                margin-right: 8px;
                border-radius: 50%;
              "
              alt=""
            />
            {% endif%} {{user.first_name +" "+user.last_name}}
            </a>
          </div> {%endif%} {%endfor%}
        </div>
        <h5>{{ post.title }}</h5>
        <p>{{post.date_posted}}</p>
        <br />
        <p id="details_content">{{ post.content[:60] }}<span id="dots{{post.id}}">... </span><span id="more{{post.id}}" class="more">{{ post.content[60:] }}</span><span class="readmorebtn" onclick="myFunction{{post.id}}()" id="myBtn{{post.id}}">Read more</span></p>
              
              <script>
              function myFunction{{post.id}}() {
                var dots = document.getElementById("dots{{post.id}}");
                var moreText = document.getElementById("more{{post.id}}");
                var btnText = document.getElementById("myBtn{{post.id}}");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = " Read more"; 
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = " Read less"; 
                  moreText.style.display = "inline";
                }
              }
              </script>
        <div class="mypost_img">
          <img src="../static/uploads/{{post.name}}" class="img-fluid" alt="" />
        </div>
        
            <div class="member-info">
              <br />
              <a href="/property_details/0z0OQv_1v@90a{{post.id}}07Xsg03awtVBQdetailsid..."
                ><button type="button" class="btn btn-info btn-sm">
                  View info
                </button></a
              >
              
              <button type="button" class="btn btn-danger btn-sm" style="cursor: text;">PHP {{post.price}}</button>
              {% for owner in owner %} {% if owner.id
              == post.user_id %}
              <button
                type="button"
                onclick="contact_alert({{ owner.contact }})"
                class="btn btn-light btn-sm"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Contact Agent"
              >
                <i class="fa fa-phone"></i></button
              >{% endif %} {% endfor %}
                  <a href="/add_wishlist/0aBYC={{post.id}}connectingUS={{user.id}}idUVcXqp={{post.user_id}}"
                    class="btn btn-light btn-sm"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Add to Wishlist"
                  >
                  <div class="heart"></div>
                </a>
            </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  {% endblock %}
