{% extends "base.html" %}{% block title %}Post Property{% endblock%} {% block
content %}

            {%if user.email == "admin@gmail.com"%}
              <script>
                window.location.href = "/logout";
              </script>
            {%endif%}
<section class="features">
  <div class="container">
    <a href="/result">
      <i class="bi bi-chevron-left"></i>
      Predict <i class="bi bi-chevron-left"></i>
      <span data-aos="fade-up">Predicted Price</span>
      <i class="bi bi-chevron-left"></i>
      <span
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="100"
        data-aos-offset="0"
        >Sell Information</span
      ></a
    >
    <br />
    <form method="POST">
      <br />
      <textarea name="title" id="title" class="form-control"></textarea>
      <div class="btn-photos">
        <button type="submit" class="btn btn-primary">
          Upload to HL Market
        </button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
